<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accounts</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include("partials/_navbar") %>

    <div class="hero">
      <!-- Container with toggle logic -->
      <div id="form-wrapper">
        <!-- Left welcome panel -->
        <div class="item">
          <h2 class="logo">Accounts</h2>
          <div class="text-item">
            <h2>Welcome!<br /><span>make your account</span></h2>
            <p>
              Join my growing community of innovators looking to contribute and
              work on new ideas
            </p>
          </div>
        </div>

        <!-- Forms section -->
        <div class="form-section">
          <!-- Login Form -->
          <div class="form-box login active">
            <form>
              <h2>Sign in</h2>
              <div class="input-box">
                <span class="icon"><img src="../img/envelope.png"/></span>
                <input type="email" placeholder="email" required />
              </div>
              <div class="input-box">
                <span class="icon"><img src="../img/lock.png"/></span>
                <input type="password" placeholder="password" required />
              </div>
              <div class="remember-password">
                <label><input type="checkbox" /> RememberMe</label>
                <a href="#">Forget password</a>
              </div>
              <button class="btn" type="submit">Log In</button>
              <div class="create-account">
                <p>
                  Create a New Account?
                  <a href="#" id="showSignUp">SignUp</a>
                </p>
              </div>
            </form>
          </div>

          <!-- Sign-Up Form -->
          <div class="form-box signup">
            <form id="signupForm">
              <h2>Sign up</h2>
              <div class="input-box">
                <span class="icon"><img src="../img/envelope.png"/></span>
                <input type="text" placeholder="name" required />
              </div>
              <div class="input-box">
                <span class="icon"><img src="../img/envelope.png"/></span>
                <input type="email" placeholder="email" required />
              </div>
              <div class="input-box">
                <span class="icon"><img src="../img/lock.png"/></span>
                <input type="password" placeholder="password" required />
              </div>
              <button class="btn" type="submit">Sign Up</button>
              <div class="create-account">
                <p>
                  Already have an account?
                  <a href="#" id="showLogin">Login</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/script/login.js"></script>
  </body>
</html>
